body 
{
	font-size: 16px;
}
label
{
	margin-top: 30px;
	padding: 15px 0;
	text-align: right;
}
#cantidad_feeds
{
	vertical-align: top;
}
#elementos_2 .ui-block-a
{
	height: 58px;
	vertical-align: middle;
	width: 10%;
}
#elementos_2 .ui-block-b
{
	width: 15%;
}
#feedAvisos
{
	margin: 0;
	padding: 0;
	width: 100%;
}

#feedSection
{
	margin: 0;
	padding: 0;
	width: 100%;
}

#pie-pagina
{
	text-align: center;
}

#pie-pagina a 
{
	margin: 0.2em 1em;
}

.no-encontrado
{
	color: #f00;
	font-family: Helvetica, Arial;
	font-weight: bold;
	padding: 1em 0;
	text-shadow: rgba(200,200,200,0.5) 3px 3px 10px;
}
.rssBody
{
	width: 100%;
}

.rssBody ul, .rssRow
{
	margin-left: 0;
	padding-left: 0;
	list-style: none;
	width: 100%;
}
.institucion
{
	background: skyblue;
	display: inline-block;
	width:10em;
	height: 5em;
	margin: 0.5em;
	text-align: center;
	vertical-align: middle;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-decoration: none;
	box-shadow: 8px 8px 6px #aaa;
	color: black;
	cursor: pointer;
}

.institucion-disabled
{
	background: #ddd;
	display: inline-block;
	width:10em;
	height: 5em;
	margin: 0.5em;
	text-align: center;
	vertical-align: middle;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-decoration: none;
	/*box-shadow: 8px 8px 6px #aaa;*/
	color: black;
	/*cursor: pointer;*/
}

.institucion:hover
{
	background: lightgreen;	
}